@font-face {
    font-family: 'Roboto Condensed';
    src: url('path/to/roboto-condensed.woff2') format('woff2'),
        url('path/to/roboto-condensed.woff') format('woff');
    /* Add additional font formats if needed */
}

@font-face {
    font-family: 'Tilt Prism';
    src: url('path/to/tilt-prism.woff2') format('woff2'),
        url('path/to/tilt-prism.woff') format('woff');
    /* Add additional font formats if needed */
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('path/to/tsukimi-rounded.woff2') format('woff2'),
        url('path/to/tsukimi-rounded.woff') format('woff');
    /* Add additional font formats if needed */
}

/* Rest of your CSS styles */

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 70%;
    background-color: #00000057;
    margin-left: 20%;
    border-radius: 25px;
    padding: 10px;
    margin-top: -1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Add background image */
    background-image: url(../images/texture.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.item-details {
    margin-left: 5%;
    text-align: left;
}

.item-details .item-image {
    width: auto;
    height: auto;
    max-height: 180px;
    max-width: 180px;
    object-fit: cover;
    margin-bottom: 10px;
    text-align: center;
}

.item-details .item-description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    color: #0d0d0dc9;
    max-width: 90%;
}


.item-details p.desc {
    position: relative;
    margin-bottom: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
}

.item-details p.price {
    margin-bottom: 15px;
    margin-left: -75%;
    font-family: 'Courier New', Monospace;
}

.bid-input {
    margin-top: 10px;
    margin-left: 12%;
}

.bid-input input[type="text"] {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 10%;
    /* Remove the readonly attribute */
    pointer-events: auto;
}

input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: 10%;
    background-color: #0ea329c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0e7c22;
}

.leaderboard {
    position: absolute;
    font-family: 'Tsukimi Rounded', sans-serif;
    top: 0;
    right: 0;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
    border-radius: 30px;
    background-color: rgba(122, 120, 120, 0.153);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Add other styles as needed */
}