.side-panel {
    width: 11%;
    height: 100vh;
    background-color: #05192484;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: fixed;
    margin-left: -8px;
    margin-top: -8px;
}

.logo-container {
    text-align: center;
}

.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("../images/logo.png");
    background-size: cover;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.logo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container h4 {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.logo-circle:hover {
    background-color: #5e5e5e6a;
}

.side-panel-box {
    padding: 1px;
    text-align: left;
    background-color: #b0b0b000;
    border-radius: 35%;
    transition: background-color 0.3s ease;
}

.side-panel-box h3 a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5%;
    font-size: 10px;
}

.side-panel-box:hover h3 a {
    background-color: #13121234;
    padding: 5px 10px;
    border-radius: 10px;
}

.side-panel-box h3 i {
    font-size: 10px;
}

.bottom-box {
    position: relative;
    align-self: fixed;
    margin-top: 165%;
    margin-left: 25%;
}

.bottom-box h3 i {
    font-size: 10px;
}

.bottom-box h3 a {
    color: #fff;
    text-decoration: none;
    padding: 1px 10%;
    font-size: 10px;
}

.bottom-box:hover h3 a {
    background-color: #13121234;
    padding: 10px 5px;
    border-radius: 10px;
}

.navbar {
    width: 25%;
    height: 40px;
    background-color: #ffffff00;
    color: #8151513b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.search-input-container {
    position: relative;
    display: inline-block;
    border: none;
    width: 1px;
}

#search-bar {
    border: none;
    padding: 8px 28px 8px 10px;
    border-radius: 20px;
    background-color: #f0f0f0;

    width: 100px;
}

#search-bar:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-circle {
    background-color: #5b5555ae;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.table-container {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.content {
    margin-left: 15%;
    width: 90%;
    max-width: 800px;
    margin-top: -9px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
}

.item h3 {
    margin: 0;
}

.details {
    margin: 0 25px;
    /* Adjust the value as per your desired spacing */
}

.bids-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}

.bids {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 40px;
    text-align: center;
}

.bid-button {
    margin-top: 10px;
    background-color: #35933a;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.bid-button:hover {
    background-color: #355a37;
}

.bid-button:active {
    background-color: #2e447e8c;
    animation: shakeAndShrink 0.5s ease-in-out;
}

@keyframes shakeAndShrink {

    0%,
    100% {
        transform: scale(1);
        /* Start and end with normal size */
    }

    25% {
        transform: scale(0.85) translateX(-5px);
        /* Shrink and move left */
    }

    50% {
        transform: scale(1.05) translateY(-5px);
        /* Enlarge and move up */
    }

    75% {
        transform: scale(0.95) translateX(1px);
        /* Shrink and move right */
    }
}

.search-box i {
    color: #ccc;
    font-size: 14px;
    position: absolute;
    top: 22px;
    right: 45px;
}

.search-box i:hover {
    color: #626262b8;
}

.search-box i:active {
    color: #272727b8;
    animation: shakeAndShrink 0.5s ease-in-out;
}

@keyframes shakeAndShrink {

    0%,
    100% {
        transform: scale(1);
        /* Start and end with normal size */
    }

    25% {
        transform: scale(0.65);
        /* Shrink and move left */
    }

    50% {
        transform: scale(0.75);
        /* Enlarge and move up */
    }

    75% {
        transform: scale(0.95);
        /* Shrink and move right */
    }
}