.side-panel {
    width: 11%;
    height: 95vh;
    background-color: #05192484;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: -8px;
}

.logo-container {
    text-align: center;
    margin-bottom: -1px;
}

.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("../images/logo.png");
    background-size: cover;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.logo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container h4 {
    margin-top: 10px;
    font-size: 12px;
}

.logo-circle:hover {
    background-color: #5e5e5e6a;
}

.side-panel-box {
    margin-bottom: 5px;
    padding: 1px;
    text-align: left;
    background-color: #b0b0b000;
    border-radius: 35%;
    transition: background-color 0.3s ease;
}

.side-panel-box h3 a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5%;
    font-size: 10px;
}

.side-panel-box:hover h3 a {
    background-color: #13121234;
    padding: 5px 10px;
    border-radius: 10px;
}

.side-panel-box h3 i {
    font-size: 10px;
    /* Adjust this value to change the icon size */
}

.bottom-box {
    position: relative;
    align-self: fixed;
    margin-top: auto;
    margin-left: 25%;
}

.bottom-box h3 i {
    font-size: 10px;
    /* Adjust this value to change the icon size */
    margin-left: auto;
}

.bottom-box h3 a {
    color: #fff;
    text-decoration: none;
    padding: 1px 10%;
    font-size: 10px;
}

.bottom-box:hover h3 a {
    background-color: #13121234;
    padding: 10px 5px;
    border-radius: 10px;
}

.navbar {
    width: 25%;
    height: 40px;
    background-color: #ffffff00;
    color: #8151513b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px;
    margin-left: auto;
}

.search-box input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 12px;
}

.search-box i {
    margin-left: 5px;
}

.profile-circle {
    background-color: #5b5555ae;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.table-container {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.content {
    margin-left: 15%;
    width: 90%;
    max-width: 800px;
    margin-top: -9px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
}

.item h3 {
    margin: 0;
}

.details {
    margin: 0 25px;
    /* Adjust the value as per your desired spacing */
}

.bids-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}

.bids {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 40px;
    text-align: center;
}

.bid-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.bid-button:hover {
    background-color: #459749;
}